## Payload ENV variables
# Required
APPLICANT_NAME='' # Your full name
APPLICANT_EMAIL='' # Contact email
APPLICANT_RESUME_URL='' # URL to your resume (PDF preferred)
APPLICANT_LOCATION='' # Where youre based (city, country)
APPLICANT_LINKEDIN_URL='' # LinkedIn profile URL
APPLICANT_CODE_LINK='' # URL to the code you wrote to submit this application

# Optional
APPLICANT_REPOS_URL='' # URL to additional repos or portfolio


## Request ENV variables
API_SECRET = '' # Found in the docs for the exercise
API_ENDPOINT = '' # Found in the docs for the exercise